.high-bid__container {
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.5);
}

.high-bid__title {
  margin: 5px;
}

.high-bid__bid-amount {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.bid__high-bidder-msg {
  background-color: rgba(25, 134, 67, 0.4);
  border: 1px solid #21603b;
  color: darkgreen;
  padding: 10px;
  border-radius: 3px;
  width: 90%;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto
}