.login__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.login__input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  box-shadow: inset -9px -5px 15px -9px rgba(173,166,173,1);
}

.login__button {
  background-color: #DF7F33;
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
  margin: 3px;
  font-size: 1rem;
}