.messages__outer-container {
  text-align: left;
}

.messages__container {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset -9px -5px 15px -9px rgba(173,166,173,1);
  padding: 10px;
  text-align: left;
  min-height: 300px;
}

.message__user-name-highight {
  color: green
}

@media only screen and (max-width: 600px) {
  .messages__container {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}